[Unit]
Description=Setup Core DNS
RequiresMountsFor=/media/container
After=setup-cilium.service
Requires=setup-cilium.service

[Service]
Type=oneshot
RemainAfterExit=true

# Setup binaries
ExecStartPre=/usr/bin/bash -c 'cp /media/container/hubble /opt/bin/'
ExecStartPre=/usr/bin/bash -c 'chmod -R a+x /opt/bin/'

# Install Cilium
ExecStart=/opt/bin/cilium hubble enable --kubeconfig=/home/sherpa/.kube/config

[Install]
WantedBy=multi-user.target
